// TODO: Consolidate CSS
.storybook-radio-button-background {
  cursor: pointer;

  input[type='radio'] {
    opacity: 0;
  }

  .storybook-radio-button-background-contents {
    position: relative;
    display: flex;
    /* padding: 5px 20px 5px 20px; */
    box-sizing: border-box;
    background: rgba(0, 0, 2, 0.04);
    border-radius: 5px;

    &.darkMode {
      background: rgba(255, 255, 255, 0.04);

      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }
    }

    &:hover {
      background: rgba(0, 0, 2, 0.08);
    }
  }

  input[type='radio']:checked ~ .storybook-radio-button-background-contents {
    border-width: 5px;
    background: rgba(115, 81, 235, 0.08);
    box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.08);

    &.darkMode {
      background: rgba(130, 103, 239, 0.08);
    }
  }

  input[type='radio']:checked
    ~ .storybook-radio-button-background-contents::before {
    content: '';
    position: absolute;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    height: -webkit-fill-available;
    border: 2px solid #7a64ee;
    border-radius: 5px;
  }
}
