.storybook-sidebar-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  width: 236px;
  height: 30px;

  border-radius: 5px;
}

.storybook-sidebar-link-item:hover {
  background: rgba(0, 0, 2, 0.04);
}

.storybook-sidebar-link-item:active {
  background: rgba(0, 0, 2, 0.08);
}

.storybook-sidebar-link-item.darkMode:hover {
  background: rgba(255, 255, 255, 0.04);
}

.storybook-sidebar-link-item.darkMode:active {
  background: #8F61EA;
}

.storybook-sidebar-link-item .storybook-button-icon {
  margin-left: 9px;
  background: rgba(0, 0, 2, 0.7);
}

.storybook-sidebar-link-item.darkMode .storybook-button-icon {
  background: rgba(255, 255, 255, 0.9);
}

// TODO: adjust the padding of text in this component
.storybook-sidebar-link-item-label {
  flex:1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 2, 0.7);
}

.storybook-sidebar-link-item.darkMode .storybook-sidebar-link-item-label {
  color: rgba(255, 255, 255, 0.9);
}

.storybook-sidebar-link-item-bubble {
  padding-right: 10px;
}


