.storybook-sidebar-node-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 10px;
  gap: 12px;
  width: 236px;

  & > * {
    &:first-child {
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    font-family: 'Inter';
    font-style: normal;
  }

  &.darkMode:active {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 4px;
  }

  &:active {
    background: rgba(0, 0, 2, 0.04);
    border-radius: 4px;
  }
}

.storybook-sidebar-node-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 172px;
  height: 32px;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.storybook-sidebar-node-item-title {
  order: 0;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 2, 0.7);
}

.darkMode .storybook-sidebar-node-item-title {
  color: rgba(255, 255, 255, 0.85);
}

.storybook-sidebar-node-item-info {
  order: 1;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: rgba(0, 0, 2, 0.5);

}

.darkMode .storybook-sidebar-node-item-info {
  color: rgba(255, 255, 255, 0.5);
}
