.storybook-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  gap: 4px;
  border-radius: 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;

  flex: none;
  order: 0;
  flex-grow: 0;
  width: fit-content;

  &.pink {
    background: #ffccfa;
    color: rgba(0, 0, 2, 0.7);
  }

  &.pink2 {
    background: #fee3f9;
    color: #ec429f;
  }

  &.green {
    background: #dffbe8;
    color: #3ebb64;
  }
}
