@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../assets/fonts/Inter.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.storybook-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0px;
  gap: 6px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.storybook-button--primary .storybook-button-icon {
  background-color: #ffffff;
}

.storybook-button--primary {
  background: #6057f0;
  color: #ffffff;
}

.storybook-button--primary.darkMode {
  background: #766ef2;
}

.storybook-button--primary:hover:not([disabled]) {
  background: rgba(96, 87, 240, 0.9);
}

.storybook-button--primary.darkMode:hover:not([disabled]) {
  background: #766ef2e5;
}

.storybook-button--primary:active:not([disabled]) {
  background: rgba(96, 87, 240, 0.85);
}

.storybook-button--primary.darkMode:active:not([disabled]) {
  background: #766ef2d9;
}

.storybook-button--secondary {
  color: rgba(0, 0, 2, 0.7);
  background: rgba(0, 0, 2, 0.04);
}

.storybook-button--secondary.darkMode {
  color: rgba(255, 255, 255, 0.85);
}

.storybook-button--secondary .storybook-button-icon {
  background-color: rgba(0, 0, 2, 0.7);
}

.storybook-button--secondary.darkMode {
  background: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.85);
}

.storybook-button--secondary.darkMode .storybook-button-icon {
  background-color: rgba(255, 255, 255, 0.85);
}

.storybook-button--secondary:hover:not([disabled]) {
  background: rgba(0, 0, 2, 0.08);
}

.storybook-button--secondary.hover .storybook-button-icon {
  background-color: rgba(0, 0, 2, 0.7);
}

.storybook-button--secondary.darkMode:hover:not([disabled]) {
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.85);
}

.storybook-button--secondary.darkMode:hover:not([disabled])
  .storybook-button-icon {
  background-color: rgba(255, 255, 255, 0.85);
}

.storybook-button--secondary:active:not([disabled]) {
  background: rgba(0, 0, 2, 0.1);
  color: rgba(0, 0, 2, 0.85);
}

.storybook-button--secondary:active:not([disabled]) .storybook-button-icon {
  background-color: rgba(0, 0, 2, 0.85);
}

.storybook-button--secondary.darkMode:active:not([disabled]) {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

.storybook-button--secondary.darkMode:active:not([disabled])
  .storybook-button-icon {
  background-color: rgba(255, 255, 255, 0.9);
}

.storybook-button:disabled {
  color: rgba(0, 0, 2, 0.25);
  background: rgba(0, 0, 2, 0.04);
}

.storybook-button:disabled .storybook-button-icon {
  background: rgba(0, 0, 2, 0.25);
}

.storybook-button.darkMode:disabled {
  color: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.04);
}

.storybook-button.darkMode:disabled .storybook-button-icon {
  background: rgba(255, 255, 255, 0.25);
}

.storybook-button--small {
  font-size: 13px;
  padding: 6px 10px;
}

.storybook-button--small.icon {
  padding: 6px;
}

.storybook-button--medium {
  font-size: 13px;
  padding: 8px 12px;
}

.storybook-button--medium.icon {
  padding: 8px;
}

.storybook-button--large {
  font-size: 13px;
  padding: 10px 14px;
}

.storybook-button--large.icon {
  padding: 10px;
}

.storybook-button-icon {
  -webkit-mask-size: cover;
  mask-size: cover;

  width: 16px;
  height: 16px;

  flex: none;
  flex-grow: 0;
}

.storybook-button-icon.icon-left {
  order: 0;
}

.storybook-button-text.icon-left {
  order: 1;
}

.storybook-button-icon.icon-right {
  order: 1;
}

.storybook-button-text.icon-right {
  order: 0;
}
