@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(../../../../assets/fonts/Inter.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
