name: Package

on: [pull_request, workflow_dispatch]

jobs:
  package:
    timeout-minutes: 25
    environment: staging

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # os: [windows-latest, ubuntu-latest]
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: npm install
        run: |
          npm ci

      - if: ${{ matrix.os == 'macos-latest' }}
        name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - if: ${{ matrix.os == 'macos-latest' }}
        name: setup appdmg
        run: |
          python3 -m pip install setuptools
          npm install --save-dev appdmg
          npm install -g appdmg

      - if: ${{ matrix.os == 'macos-latest' }}
        name: Import Certs
        uses: apple-actions/import-codesign-certs@v2
        with:
          p12-file-base64: ${{ secrets.CSC_LINK }}
          p12-password: ${{ secrets.CSC_KEY_PASSWORD }}

      - name: npm make
        env:
          DEBUG: "*electron*"
          # macOS code signing and notarization
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          APPLE_PROD_CERT_NAME: ${{ secrets.APPLE_PROD_CERT_NAME }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

          # App env vars
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          MP_PROJECT_TOKEN: ${{ secrets.MP_PROJECT_TOKEN }}
          MP_PROJECT_ENV: ${{ vars.MP_PROJECT_ENV }}
          NICENODE_ENV: ${{ vars.NICENODE_ENV }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        # cant be parallelized at the moment
        # https://github.com/electron/forge/pull/3519
        run: |
          npm run make -- --arch=arm64
          npm run make -- --arch=x64
