name: Publish

on:
  push:
    branches:
      - main
      - feat/podman-runtime

# asar is disabled for pm2 & electron build to work
#   with asar disabled, hard links needs to be disabled
env:
  USE_HARD_LINKS: false

jobs:
  publish:
    # To enable auto publishing to github, update your electron publisher
    # config in package.json > "build" and remove the conditional below
    # if: ${{ github.repository_owner == 'electron-react-boilerplate' }}

    # all published versions are considered "staging" until we release a non-alpha version
    environment: staging

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v3

      - name: Install Node and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: Install dependencies
        run: |
          npm install

      # This dependency wasn't needed until suddenly on Dec. 2, 2022
      - name: install dmg-license
        run: |
          if [ "$RUNNER_OS" == "macOS" ]; then
            npm i -D dmg-license
          else
            exit 0
          fi
        shell: bash

      - name: Publish releases
        env:
          # These values are used for auto updates signing
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASS: ${{ secrets.APPLE_ID_PASS }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          WIN_CSC_LINK: ${{ secrets.WIN_CSC_LINK }}
          WIN_CSC_KEY_PASSWORD: ${{ secrets.WIN_CSC_KEY_PASSWORD }}
          # CSC_IDENTITY_AUTO_DISCOVERY: false
          # This is used for app event tracking
          FATHOM_SITE_ID: ${{ secrets.FATHOM_SITE_ID }}
          FATHOM_SITE_ENV: ${{ vars.FATHOM_SITE_ENV }}
          NICENODE_ENV: ${{ vars.NICENODE_ENV }}
          # This is used for uploading release assets to github
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          npm run postinstall
          npm run build
          npm exec electron-builder -- --publish always --win --mac --linux
