name: Test

on: [push, pull_request]

# asar is disabled for pm2 & electron build to work
#   with asar disabled, hard links needs to be disabled
env:
  USE_HARD_LINKS: false

jobs:
  test:
    timeout-minutes: 25
    environment: staging

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: npm install
        run: |
          npm install

      - name: npm build
        env:
          # Required build time src env vars
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          FATHOM_SITE_ID: ${{ secrets.FATHOM_SITE_ID }}
          FATHOM_SITE_ENV: ${{ vars.FATHOM_SITE_ENV }}
          NICENODE_ENV: ${{ vars.NICENODE_ENV }}
        run: |
          npm run build

      - name: npm lint
        run: |
          npm run lint

      - name: npm exec tsc
        run: |
          npm exec tsc --verbose

      - name: npm test
        run: |
          npm test
